.container {
    width: 100%;
    height: 100%;
    color: "#ffffff";
    background-color: "#201214";
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.island{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: "#FFFFFF";
  }

  .lightMode {
    color: "#444444";
    background-color: "#d0dbff";
  }